flows.json
[{"id":"a0d4e6145d46e354","type":"tab","label":"LK Modbus","disabled":false,"info":"","env":[]},{"id":"b88c07cc31b2c7db","type":"junction","z":"a0d4e6145d46e354","x":1180,"y":1860,"wires":[["8411fb7b32671ec9"]]},{"id":"17b89e7de5fb7a10","type":"junction","z":"a0d4e6145d46e354","x":1180,"y":1600,"wires":[["8411fb7b32671ec9"]]},{"id":"60d0a7338048123e","type":"junction","z":"a0d4e6145d46e354","x":1160,"y":1240,"wires":[["8411fb7b32671ec9"]]},{"id":"afa24f77e51748e8","type":"junction","z":"a0d4e6145d46e354","x":4080,"y":1080,"wires":[["7640b8b271461943"]]},{"id":"468a7dc045fe3bbe","type":"junction","z":"a0d4e6145d46e354","x":2580,"y":940,"wires":[["d10ac195221285a9","583891d16e9fe5ac","ac6dc80d99dfe88f","bcd24c30f9aecf08","db763a026b4d69f1","b35deb3cc1f2516d","8660cc5bc50de67a","e63bba328f1f83ad","16107c4d617000c1","54c5ef14bab36c65"]]},{"id":"a23dd9cc34d13621","type":"junction","z":"a0d4e6145d46e354","x":2580,"y":1040,"wires":[["ba80618ec6de31f9","51a3088629fb13d0","129baf5ed2bfa871"]]},{"id":"8ff55387a15bd453","type":"junction","z":"a0d4e6145d46e354","x":2820,"y":1640,"wires":[["7641cea81b8252f9","fd39bf931346cad9","ed4d3a687e824c23"]]},{"id":"c3f7452988be6184","type":"function","z":"a0d4e6145d46e354","name":"Build Modbus Packet","func":"\nmsg.payload = {\n    value: msg.payload,\n    'fc': msg.fc,\n    'address': msg.payload,\n    'quantity': msg.readNo\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":3060,"wires":[["3db873a228b61fb1"]]},{"id":"2889276b5d727604","type":"modbus-response","z":"a0d4e6145d46e354","name":"","registerShowMax":20,"x":1630,"y":3160,"wires":[]},{"id":"99f584040d8b6193","type":"link out","z":"a0d4e6145d46e354","name":"link out 1","mode":"return","links":[],"x":2775,"y":3040,"wires":[]},{"id":"165579ede380eb9a","type":"change","z":"a0d4e6145d46e354","name":"Read RU PI Regulation Output at 4:11512-11528","rules":[{"t":"set","p":"payload","pt":"msg","to":"11512","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"pi_regulation_output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2640,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 255, return as 0-100%\r\n\r\nDebug Output:\r\n[0,0,21,0,0,0,0,0,235,0,255,0,0,0,0,0]\r\n"},{"id":"743cf90bb35a07a9","type":"link in","z":"a0d4e6145d46e354","name":"Read RU PI Regulation Output","links":[],"x":595,"y":2640,"wires":[["165579ede380eb9a"]]},{"id":"3c4e50f4a43e7616","type":"switch","z":"a0d4e6145d46e354","name":"","property":"caller","propertyType":"msg","rules":[{"t":"eq","v":"pi_regulation_output","vt":"str"},{"t":"eq","v":"zone_alarms","vt":"str"},{"t":"eq","v":"ru_link_quality","vt":"str"},{"t":"eq","v":"ru_software_version","vt":"str"},{"t":"eq","v":"cu_alarms","vt":"str"},{"t":"eq","v":"cu_actuator_alarms","vt":"str"},{"t":"eq","v":"cu_software_version","vt":"str"},{"t":"eq","v":"actuator_mappings","vt":"str"},{"t":"eq","v":"system_data","vt":"str"},{"t":"eq","v":"zone_definition_table","vt":"str"},{"t":"eq","v":"system_global_state","vt":"str"},{"t":"eq","v":"room_temp","vt":"str"},{"t":"eq","v":"floor_temp","vt":"str"},{"t":"eq","v":"battery_level","vt":"str"},{"t":"eq","v":"room_temp_setpoint","vt":"str"},{"t":"eq","v":"floor_temp_setpoint","vt":"str"},{"t":"eq","v":"ru_heating_on","vt":"str"},{"t":"eq","v":"ru_program_setpoint","vt":"str"}],"checkall":"true","repair":false,"outputs":18,"x":1980,"y":3060,"wires":[["a70439141f6311bd"],["479a48090a945fcd"],["9ef826d7e4fc902a"],["fbd4dc1a28c31dd3"],["8c7ec6b5834540d3"],["37ba3b4b62109a21"],["a12e049924d3cd3d"],["5d2256834bb6267e"],["1e6e06eb8fe3761e"],["c1aacd2a481f89a9"],["d5cbb02dc96d255c"],["476e5628e7511ce3"],["8c90324374159901"],["bbe621487bc1f6b8"],["f2aa54117d8fff6f"],["3cbf64581a30514a"],["7c63db2959ed7bb9"],["9c7e2151cd23d72a"]]},{"id":"a70439141f6311bd","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"pi_regulation_output","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":2660,"wires":[["99f584040d8b6193"]]},{"id":"8c8ab2fe31db187c","type":"change","z":"a0d4e6145d46e354","name":"Read Zone Alarms at 4:11576-11591","rules":[{"t":"set","p":"payload","pt":"msg","to":"11576","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"zone_alarms","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2700,"wires":[["c3f7452988be6184"]],"info":"bit 0 = Room sensor error (error 15)\r\nbit 1 = No Communication between RU-CU for 60 min (error 1)\r\nbit 2 = FloorSensor error (error 14)\r\nbit 3 = RUW cannot install (unused?)\r\nbit 4 = HW Error (error 13)\r\nbit 5 = battery low (error 16)\r\n\r\nDebug Output:\r\n[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]\r\n"},{"id":"4e28e57aa0a556fa","type":"link in","z":"a0d4e6145d46e354","name":"Read Zone Alarms","links":[],"x":595,"y":2700,"wires":[["8c8ab2fe31db187c"]]},{"id":"479a48090a945fcd","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"zone_alarms","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":2720,"wires":[["99f584040d8b6193"]]},{"id":"1fb92d2d01ea7cd1","type":"change","z":"a0d4e6145d46e354","name":"Read RU Link Quality at 4:11256-11271","rules":[{"t":"set","p":"payload","pt":"msg","to":"11256","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"ru_link_quality","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2760,"wires":[["c3f7452988be6184"]],"info":"Range: 0-100\r\n\r\nDebug Output:\r\n[100,100,100,0,0,0,0,0,100,100,100,0,0,0,0,0]\r\n"},{"id":"c75d0545151941c3","type":"link in","z":"a0d4e6145d46e354","name":"Read RU Link Quality","links":[],"x":595,"y":2760,"wires":[["1fb92d2d01ea7cd1"]]},{"id":"9ef826d7e4fc902a","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"ru_link_quality","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":2780,"wires":[["99f584040d8b6193"]]},{"id":"367d9831dfb59be6","type":"change","z":"a0d4e6145d46e354","name":"Read RU Software Version at 4:11000-11015","rules":[{"t":"set","p":"payload","pt":"msg","to":"11000","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"ru_software_version","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":2820,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 0xffff, Unit 0,01\r\n\r\nDebug Output:\r\n[105,102,105,0,0,0,0,0,105,105,105,0,0,0,0,0]\r\n"},{"id":"e64619abfa0dbfe7","type":"link in","z":"a0d4e6145d46e354","name":"Read RU Software Version","links":[],"x":595,"y":2820,"wires":[["367d9831dfb59be6"]]},{"id":"fbd4dc1a28c31dd3","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"ru_software_version","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":2840,"wires":[["99f584040d8b6193"]]},{"id":"eb935af2a3224e12","type":"change","z":"a0d4e6145d46e354","name":"Read CU Alarms at 4:10100-10107","rules":[{"t":"set","p":"payload","pt":"msg","to":"10100","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"cu_alarms","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2880,"wires":[["c3f7452988be6184"]],"info":"bit 0 = actuator error (see actuator alarms)\r\nbit 1 = zone error (see zone alarms)\r\nbit 2 = CU communication timeout 60min (error 2)\r\nbit 3 = cannot switch actuator on, too high current consumption (error 10)\r\nbit 4 = duplicate network ID (error 4)\r\nbit 5 = data logging error (error 17)\r\n\r\n\r\nArray:\r\n0 = Section 1\r\n1 = Section 2\r\n...\r\n\r\nDebug Output:\r\n[0,0,0,0,0,0,0,0]\r\n"},{"id":"ba269b30a68b0676","type":"link in","z":"a0d4e6145d46e354","name":"Read CU Alarms","links":[],"x":595,"y":2880,"wires":[["eb935af2a3224e12"]]},{"id":"8c7ec6b5834540d3","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"cu_alarms","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2270,"y":2900,"wires":[["99f584040d8b6193"]]},{"id":"02a8534c7405d0ed","type":"change","z":"a0d4e6145d46e354","name":"Read CU Actuator Alarms at 4:10108-10115","rules":[{"t":"set","p":"payload","pt":"msg","to":"10108","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"cu_actuator_alarms","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":2940,"wires":[["c3f7452988be6184"]],"info":"2 bits per actuator, bits 0-1: actuator 0 alarm;bits 14-15: actuator 7 alarm; \r\nvalue 0 - no alarm; \r\n1 = actuator missing (error 11)\r\n2 = acutator short-circuited (error 9)\r\n3 = actuator overload (error 12)\r\n\r\n\r\nDebug Output, per section:\r\n[0,0,0,0,0,0,0,0]\r\n"},{"id":"bac6a9725ceae0ad","type":"link in","z":"a0d4e6145d46e354","name":"Read CU Actuator Alarms","links":[],"x":595,"y":2940,"wires":[["02a8534c7405d0ed"]]},{"id":"37ba3b4b62109a21","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"cu_actuator_alarms","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":2960,"wires":[["99f584040d8b6193"]]},{"id":"4fe4365af2ec5d65","type":"change","z":"a0d4e6145d46e354","name":"Read CU Software Version at 4:10116-10123","rules":[{"t":"set","p":"payload","pt":"msg","to":"10116","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"cu_software_version","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3000,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 0xffff, Unit 0,01\r\n\r\n105 = version 1.05\r\n\r\n\r\nDebug Output:\r\n[106,106,0,0,0,0,0,0]\r\n"},{"id":"906c0163bca3a3af","type":"link in","z":"a0d4e6145d46e354","name":"Read CU Software Version","links":[],"x":595,"y":3000,"wires":[["4fe4365af2ec5d65"]]},{"id":"a12e049924d3cd3d","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"cu_software_version","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":3020,"wires":[["99f584040d8b6193"]]},{"id":"e97e5281d306eae5","type":"change","z":"a0d4e6145d46e354","name":"Read actuator mappings at 4:10124-10187","rules":[{"t":"set","p":"payload","pt":"msg","to":"10124","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"actuator_mappings","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3060,"wires":[["c3f7452988be6184"]],"info":"Array:\r\n0 = Section 1, zone number that uses actuator 1\r\n1 = Section 2, zone number that uses actuator 1\r\n2 = Section 3, zone number that uses actuator 1\r\n3 = Section 4, zone number that uses actuator 1\r\n4 = Section 5, zone number that uses actuator 1\r\n5 = Section 6, zone number that uses actuator 1\r\n6 = Section 7, zone number that uses actuator 1\r\n7 = Section 8, zone number that uses actuator 1\r\n8 = Section 1, zone number that uses actuator 2\r\n9 = Section 2, zone number that uses actuator 2\r\n...\r\n\r\n\r\n\r\nDebug Output:\r\n[2,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,3,2,0,0,0,0,0,0,3,2,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]\r\n"},{"id":"26609fe9fd4aba59","type":"link in","z":"a0d4e6145d46e354","name":"Read actuator mappings","links":[],"x":595,"y":3060,"wires":[["e97e5281d306eae5"]]},{"id":"5d2256834bb6267e","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"actuator_mappings","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":3080,"wires":[["99f584040d8b6193"]]},{"id":"05f995a7fc0db2f5","type":"change","z":"a0d4e6145d46e354","name":"Read System data at 3:00000-00007","rules":[{"t":"set","p":"payload","pt":"msg","to":"00000","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"system_data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3120,"wires":[["c3f7452988be6184"]],"info":"Array:\r\n0 = Year\r\n1 = Month\r\n2 = Day\r\n3 = Hour\r\n4 = Minute\r\n5 = Week day number\r\n6 = Holiday counter\r\n7 = System Mode Override Set\r\n\r\n\r\nDebug Output:\r\n[2020,12,13,12,41,6,24,0]\r\n"},{"id":"90873a201bfc746b","type":"link in","z":"a0d4e6145d46e354","name":"Read System data","links":[],"x":595,"y":3120,"wires":[["05f995a7fc0db2f5"]]},{"id":"1e6e06eb8fe3761e","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"system_data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":3140,"wires":[["99f584040d8b6193"]]},{"id":"57d4f6b07ee983b0","type":"change","z":"a0d4e6145d46e354","name":"Read Zone definition table at 2:11000-00063","rules":[{"t":"set","p":"payload","pt":"msg","to":"11000","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"zone_definition_table","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3180,"wires":[["c3f7452988be6184"]],"info":"Array:\r\n\r\n0 = Zone 1 is defined in CU\r\n1 = Zone 2 is defined in CU\r\n...\r\n\r\n\r\nDebug Output:\r\n[true, true, true, false, false, false, false, false, true, true, true, false, false, false, false, false]\r\n"},{"id":"1735b3ce592c9d36","type":"link in","z":"a0d4e6145d46e354","name":"Read Zone definition table","links":[],"x":595,"y":3180,"wires":[["57d4f6b07ee983b0"]]},{"id":"c1aacd2a481f89a9","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"zone_definition_table","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":3200,"wires":[["99f584040d8b6193"]]},{"id":"98cd316388f02945","type":"change","z":"a0d4e6145d46e354","name":"Read System Global State at 2:00000-00003","rules":[{"t":"set","p":"payload","pt":"msg","to":"00000","tot":"str"},{"t":"set","p":"fc","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"4","tot":"str"},{"t":"set","p":"caller","pt":"msg","to":"system_global_state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3240,"wires":[["c3f7452988be6184"]],"info":"Array:\r\n0 = Global Pump State, 0 - Pump Not Active, 1 - Pump Active. \r\n1 = Global Boiler State, 0 - Boiler Not Active, 1 - Boiler Active. \r\n2 = Global Bypass Hold State\r\n3 = Global Bypass State, 0 - Bypass not available in system, 1 - Bypass available in system\r\n\r\n\r\nDebug Output:\r\n[true,true,false,false]\r\n"},{"id":"52585bc282d3581d","type":"link in","z":"a0d4e6145d46e354","name":"Read System Global State","links":[],"x":595,"y":3240,"wires":[["98cd316388f02945"]]},{"id":"d5cbb02dc96d255c","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"system_global_state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":3260,"wires":[["99f584040d8b6193"]]},{"id":"f169f148af811833","type":"change","z":"a0d4e6145d46e354","name":"Demo","rules":[{"t":"set","p":"payload","pt":"msg","to":"11064","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2660,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 255, return as 0-100%\r\n\r\nDebug Output:\r\n[0,0,21,0,0,0,0,0,235,0,255,0,0,0,0,0]\r\n"},{"id":"effa103947e087bc","type":"inject","z":"a0d4e6145d46e354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1400,"y":2660,"wires":[["f169f148af811833"]]},{"id":"e4924b802ba91ae0","type":"catch","z":"a0d4e6145d46e354","name":"","scope":["f0dc99114f3b9a05","c63a5c79c7bc5952"],"uncaught":false,"x":1610,"y":3380,"wires":[["72282b351ee80a11"]]},{"id":"72282b351ee80a11","type":"debug","z":"a0d4e6145d46e354","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1800,"y":3380,"wires":[]},{"id":"b5db0fcfb81bae02","type":"change","z":"a0d4e6145d46e354","name":"Read room temp at 4:11064-11127","rules":[{"t":"set","p":"payload","pt":"msg","to":"11064","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"room_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3300,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 5000, Unit 0,01째C\r\n\r\nDefaults to 2100 since it is the system default temperature in a room.\r\n\r\nDebug Output:\r\n[2110,2240,2100,2100,2100,2100,2100]\r\n"},{"id":"c8e47da0ca5eecb1","type":"link in","z":"a0d4e6145d46e354","name":"Read room temp","links":[],"x":595,"y":3300,"wires":[["b5db0fcfb81bae02"]]},{"id":"476e5628e7511ce3","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"room_temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":3320,"wires":[["99f584040d8b6193"]]},{"id":"c33719db70dbe631","type":"change","z":"a0d4e6145d46e354","name":"Read floor temp at 4:11128-11191","rules":[{"t":"set","p":"payload","pt":"msg","to":"11128","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"floor_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3360,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 5000, Unit 0,01째C\r\n\r\nDefaults to 2100 since it is the system default temperature in a room.\r\n\r\nDebug Output:\r\n[2110,2240,2100,2100,2100,2100,2100]\r\n"},{"id":"13a9b82929a9b066","type":"link in","z":"a0d4e6145d46e354","name":"Read floor temp","links":[],"x":595,"y":3360,"wires":[["c33719db70dbe631"]]},{"id":"8c90324374159901","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"floor_temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2270,"y":3380,"wires":[["99f584040d8b6193"]]},{"id":"91777e9d0b5f9c2d","type":"change","z":"a0d4e6145d46e354","name":"Read battery level at 4:11192-11255","rules":[{"t":"set","p":"payload","pt":"msg","to":"11192","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"battery_level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3420,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 100, Unit %\r\n\r\nDebug Output:\r\n[100,100,91,35,100,100,78,65]\r\n"},{"id":"7a0e09f7beb457cb","type":"link in","z":"a0d4e6145d46e354","name":"Read battery level","links":[],"x":595,"y":3420,"wires":[["91777e9d0b5f9c2d"]]},{"id":"bbe621487bc1f6b8","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"battery_level","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":3440,"wires":[["99f584040d8b6193"]]},{"id":"c20962a283917677","type":"change","z":"a0d4e6145d46e354","name":"Read room temp setpoint at 4:11384-11447","rules":[{"t":"set","p":"payload","pt":"msg","to":"11384","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"room_temp_setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3480,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 5000, Unit 0,01째C\r\n\r\nDefaults to 2100 since it is the system default temperature in a room.\r\n\r\nDebug Output:\r\n[2110,2240,2100,2100,2100,2100,2100]\r\n"},{"id":"f7c48a81de83b6e4","type":"link in","z":"a0d4e6145d46e354","name":"Read room temp setpoint","links":[],"x":595,"y":3480,"wires":[["c20962a283917677"]]},{"id":"f2aa54117d8fff6f","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"room_temp_setpoint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":3500,"wires":[["99f584040d8b6193"]]},{"id":"5cf52526d159da58","type":"change","z":"a0d4e6145d46e354","name":"Read floor temp setpoint at 4:11448-11511","rules":[{"t":"set","p":"payload","pt":"msg","to":"11448","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"floor_temp_setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3540,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 5000, Unit 0,01째C\r\n\r\nDefaults to 2100 since it is the system default temperature in a room.\r\n\r\nDebug Output:\r\n[2110,2240,2100,2100,2100,2100,2100]\r\n"},{"id":"31785b5f5c92c497","type":"link in","z":"a0d4e6145d46e354","name":"Read floor temp setpoint","links":[],"x":595,"y":3540,"wires":[["5cf52526d159da58"]]},{"id":"3cbf64581a30514a","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"floor_temp_setpoint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":3560,"wires":[["99f584040d8b6193"]]},{"id":"452cb0c88e43c047","type":"change","z":"a0d4e6145d46e354","name":"RU Heating on at 2:11192-11255","rules":[{"t":"set","p":"payload","pt":"msg","to":"11192","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"ru_heating_on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":3600,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 1\r\n\r\n0 - No Heating In Zone, 1 - Heating Active.\r\n\r\nDebug Output:\r\n[0,0,1,0,0,0,0,0]\r\n"},{"id":"4c0f419b4223ae5c","type":"link in","z":"a0d4e6145d46e354","name":"RU Heating on","links":[],"x":595,"y":3600,"wires":[["452cb0c88e43c047"]]},{"id":"7c63db2959ed7bb9","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"ru_heating_on","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":3620,"wires":[["99f584040d8b6193"]]},{"id":"4ba0a9ec4ae4e970","type":"change","z":"a0d4e6145d46e354","name":"RU Week program setpoint at 2:11128-11191","rules":[{"t":"set","p":"payload","pt":"msg","to":"11128","tot":"num"},{"t":"set","p":"fc","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"readNo","pt":"msg","to":"64","tot":"num"},{"t":"set","p":"caller","pt":"msg","to":"ru_program_setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3660,"wires":[["c3f7452988be6184"]],"info":"Min 0, Max 1\r\n\r\n0 - No Heating In Zone, 1 - Heating Active.\r\n\r\nDebug Output:\r\n[0,0,1,0,0,0,0,0]\r\n"},{"id":"beef42caa74cb16e","type":"link in","z":"a0d4e6145d46e354","name":"RU Week program setpoint","links":[],"x":595,"y":3660,"wires":[["4ba0a9ec4ae4e970"]]},{"id":"9c7e2151cd23d72a","type":"change","z":"a0d4e6145d46e354","name":"","rules":[{"t":"set","p":"ru_program_setpoint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":3680,"wires":[["99f584040d8b6193"]]},{"id":"6590b65a93730fb8","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"homeassistant/climate/+/set/room_temp_setpoint","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":460,"y":1020,"wires":[["810bfcc958c40ac0"]]},{"id":"810bfcc958c40ac0","type":"function","z":"a0d4e6145d46e354","name":"Parse and create Modbus data","func":"\nvar regex = RegExp(\"(.*)RU([0-9]{1,2})ClimateControl(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n//node.warn(res);\n\nif (typeof res === \"object\" && res != null) {\n    //node.warn(\"RU = \" + res[2]);\n\n    const min = 700;\n    const max = 4000;\n    const zone1register = 11128;\n\n    var value = msg.payload * 100;\n    var ru = parseInt(res[2]);\n\n    // Make sure we are within bounds supported by the system\n    if (value < 700) {\n        value = Math.max(value, min);\n    }\n    if (value > 4000) {\n        value = Math.min(value, max);\n    }\n\n    msg.payload = {\n        'value': [value],\n        'fc': 16,\n        'address': zone1register + (ru - 1),\n        'quantity': 1\n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1020,"wires":[["1698e70a45fbe22b"]]},{"id":"30447c5d169f0e62","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Zones/+/Alarms/battery_low","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":1080,"wires":[["25938aec194a1230"]]},{"id":"25938aec194a1230","type":"function","z":"a0d4e6145d46e354","name":"Parse zone, set message","func":"\nvar regex = RegExp(\"(.*)Zone_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n//node.warn(res);\n\nif (typeof res === \"object\" && res != null) {\n    //node.warn(\"RU = \" + res[2]);\n\n    msg.message = \"Please change battery in room unit for zone \" + res[2];\n    msg.title   = \"Battery low in Zone \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1080,"wires":[["60d0a7338048123e"]]},{"id":"179c0878623d7774","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Zones/+/Alarms/hw_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":1140,"wires":[["b147c5c31f70b9be"]]},{"id":"b147c5c31f70b9be","type":"function","z":"a0d4e6145d46e354","name":"Parse zone, set message","func":"\nvar regex = RegExp(\"(.*)Zone_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n//node.warn(res);\n\nif (typeof res === \"object\" && res != null) {\n    //node.warn(\"RU = \" + res[2]);\n\n    msg.message = \"There seems to be a hardware error in the room unit for zone \" + res[2];\n    msg.title   = \"Room unit error in Zone \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1140,"wires":[["60d0a7338048123e"]]},{"id":"1b48d88c64545b99","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Zones/+/Alarms/ruw_install_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":1200,"wires":[["f224d92678ab287c"]]},{"id":"f224d92678ab287c","type":"function","z":"a0d4e6145d46e354","name":"Parse zone, set message","func":"\nvar regex = RegExp(\"(.*)Zone_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n//node.warn(res);\n\nif (typeof res === \"object\" && res != null) {\n    //node.warn(\"RU = \" + res[2]);\n\n    msg.message = \"There seems to be a problem with the installation of the wired room unit for zone \" + res[2];\n    msg.title   = \"Room unit error in Zone \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1200,"wires":[["60d0a7338048123e"]]},{"id":"1471b10e121e650d","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Zones/+/Alarms/floor_sensor_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":1260,"wires":[["b5794f79f66f43f3"]]},{"id":"53a860e82a8ecd61","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Zones/+/Alarms/communication_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":480,"y":1320,"wires":[["e18b1df01d0d2205"]]},{"id":"4fb1a1c674f28a8b","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Zones/+/Alarms/room_sensor_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":1380,"wires":[["4edb68b21c44d658"]]},{"id":"b5794f79f66f43f3","type":"function","z":"a0d4e6145d46e354","name":"Parse zone, set message","func":"\nvar regex = RegExp(\"(.*)Zone_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n//node.warn(res);\n\nif (typeof res === \"object\" && res != null) {\n    //node.warn(\"RU = \" + res[2]);\n\n    msg.message = \"There seems to be a problem with the floor temperature sensor in zone \" + res[2];\n    msg.title   = \"Floor sensor error in Zone \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1260,"wires":[["60d0a7338048123e"]]},{"id":"e18b1df01d0d2205","type":"function","z":"a0d4e6145d46e354","name":"Parse zone, set message","func":"\nvar regex = RegExp(\"(.*)Zone_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n//node.warn(res);\n\nif (typeof res === \"object\" && res != null) {\n    //node.warn(\"RU = \" + res[2]);\n\n    msg.message = \"There seems to be a communication problem with the room unit in zone \" + res[2];\n    msg.title   = \"Room unit error in Zone \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1320,"wires":[["60d0a7338048123e"]]},{"id":"4edb68b21c44d658","type":"function","z":"a0d4e6145d46e354","name":"Parse zone, set message","func":"\nvar regex = RegExp(\"(.*)Zone_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n//node.warn(res);\n\nif (typeof res === \"object\" && res != null) {\n    //node.warn(\"RU = \" + res[2]);\n\n    msg.message = \"There seems to be a problem with the room temperature sensor in the room unit for zone \" + res[2];\n    msg.title   = \"Room unit error in Zone \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1380,"wires":[["60d0a7338048123e"]]},{"id":"fae5a81d66b87097","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Alarms/actuator_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":1440,"wires":[["35c09f13e50cad0b"]]},{"id":"2e067fcf1e1716ae","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Alarms/zone_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":460,"y":1500,"wires":[["de0d5fca141b0d95"]]},{"id":"d0a20881338cf27a","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Alarms/cu_communication_timeout_60min","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":530,"y":1560,"wires":[["f0bfc81af9f2ad69"]]},{"id":"86269953c93f33c9","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Alarms/overcurrent_protection_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":1620,"wires":[["8dede2110efd413a"]]},{"id":"aa28b62c5d917c83","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Alarms/duplicate_network_id_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":1680,"wires":[["9db73146c92de304"]]},{"id":"76ecf47e343b846a","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Alarms/data_logging_error","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":480,"y":1740,"wires":[["e1ec999ae49bd187"]]},{"id":"47a2b08c74070adb","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Actuators/+/Alarms/actuator_missing","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":1800,"wires":[["a53411ae98eff18e"]]},{"id":"d221414a0920a925","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Actuators/+/Alarms/actuator_shorted","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":1860,"wires":[["fec0b45b54b9246b"]]},{"id":"e15ed3a29138e82b","type":"mqtt in","z":"a0d4e6145d46e354","name":"","topic":"lk_floor_systems/Sections/+/Actuators/+/Alarms/actuator_overloaded","qos":"2","datatype":"auto-detect","broker":"893beac6.1f4838","nl":false,"rap":true,"rh":0,"inputs":0,"x":520,"y":1920,"wires":[["c1e3a0a25bc0ac11"]]},{"id":"35c09f13e50cad0b","type":"function","z":"a0d4e6145d46e354","name":"Parse section, set message","func":"\nvar regex = RegExp(\"(.*)Section_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"There seems to be a problem with one or many actuators in section \" + res[2] + \", please see the actuator alarms for more details.\";\n    msg.title = \"Actuator error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1440,"wires":[["17b89e7de5fb7a10"]]},{"id":"8411fb7b32671ec9","type":"switch","z":"a0d4e6145d46e354","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1430,"y":1620,"wires":[["eeeb2c6fa0029e90"]]},{"id":"a53411ae98eff18e","type":"function","z":"a0d4e6145d46e354","name":"Parse actuator, set message","func":"\n// lk_floor_systems/Sections/Section_2/Actuators/Actuator_4/Alarms/actuator_missing\nvar regex = RegExp(\".*_([0-9]{1,2}).*_([0-9]{1,2})\", \"g\");\n\n/*\n * res[1] = section ID\n * res[2] = actuator ID\n */\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"Actuator \" + res[2] + \" is missing in section \" + res[1] + \".\";\n    msg.title = \"Error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1800,"wires":[["b88c07cc31b2c7db"]]},{"id":"de0d5fca141b0d95","type":"function","z":"a0d4e6145d46e354","name":"Parse section, set message","func":"\nvar regex = RegExp(\"(.*)Section_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"There seems to be a problem with one or many zones in section \" + res[2] + \", please see the zone alarms for more details.\";\n    msg.title = \"Zone error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1500,"wires":[["17b89e7de5fb7a10"]]},{"id":"f0bfc81af9f2ad69","type":"function","z":"a0d4e6145d46e354","name":"Parse section, set message","func":"\nvar regex = RegExp(\"(.*)Section_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"Failed to communicate with section \" + res[2] + \" for at least 60 minutes.\";\n    msg.title = \"Communication error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1560,"wires":[["17b89e7de5fb7a10"]]},{"id":"8dede2110efd413a","type":"function","z":"a0d4e6145d46e354","name":"Parse section, set message","func":"\nvar regex = RegExp(\"(.*)Section_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"Cannot switch actuator on, too high current consumption in section \" + res[2] + \".\";\n    msg.title = \"Overcurrent protection in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1620,"wires":[["17b89e7de5fb7a10"]]},{"id":"9db73146c92de304","type":"function","z":"a0d4e6145d46e354","name":"Parse section, set message","func":"\nvar regex = RegExp(\"(.*)Section_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"Duplicate network ID in section \" + res[2] + \".\";\n    msg.title = \"Error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1680,"wires":[["17b89e7de5fb7a10"]]},{"id":"e1ec999ae49bd187","type":"function","z":"a0d4e6145d46e354","name":"Parse section, set message","func":"\nvar regex = RegExp(\"(.*)Section_([0-9]{1,2})(.*)\", \"g\");\n\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"Data logging error in section \" + res[2] + \".\";\n    msg.title = \"Error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1740,"wires":[["17b89e7de5fb7a10"]]},{"id":"fec0b45b54b9246b","type":"function","z":"a0d4e6145d46e354","name":"Parse actuator, set message","func":"\n// lk_floor_systems/Sections/Section_2/Actuators/Actuator_4/Alarms/actuator_shorted\nvar regex = RegExp(\".*_([0-9]{1,2}).*_([0-9]{1,2})\", \"g\");\n\n/*\n * res[1] = section ID\n * res[2] = actuator ID\n */\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"Actuator \" + res[2] + \" is short circuited in section \" + res[1] + \".\";\n    msg.title = \"Error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1860,"wires":[["b88c07cc31b2c7db"]]},{"id":"c1e3a0a25bc0ac11","type":"function","z":"a0d4e6145d46e354","name":"Parse actuator, set message","func":"\n// lk_floor_systems/Sections/Section_2/Actuators/Actuator_4/Alarms/actuator_overloaded\nvar regex = RegExp(\".*_([0-9]{1,2}).*_([0-9]{1,2})\", \"g\");\n\n/*\n * res[1] = section ID\n * res[2] = actuator ID\n */\nvar res = regex.exec(msg.topic);\n\nif (typeof res === \"object\" && res != null) {\n\n    msg.message = \"Actuator \" + res[2] + \" is overloaded in section \" + res[1] + \".\";\n    msg.title = \"Error in Section \" + res[2];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1920,"wires":[["b88c07cc31b2c7db"]]},{"id":"9c5deaa1d10ec35c","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":580,"wires":[["f0dc99114f3b9a05"]]},{"id":"75f11f071918982c","type":"link call","z":"a0d4e6145d46e354","name":"","links":["ba269b30a68b0676"],"linkType":"static","timeout":"30","x":3010,"y":580,"wires":[["9c5deaa1d10ec35c"]]},{"id":"f0dc99114f3b9a05","type":"function","z":"a0d4e6145d46e354","name":"CU Alarms -> MQTT","func":"/*\nbit 0 = actuator error(see actuator alarms)\nbit 1 = zone error(see zone alarms)\nbit 2 = CU communication timeout 60min(error 2)\nbit 3 = cannot switch actuator on, too high current consumption(error 10)\nbit 4 = duplicate network ID(error 4)\nbit 5 = data logging error(error 17)\n*/\nconst alarms = [];\nalarms[0] = Boolean(msg.payload & 1);\nalarms[1] = Boolean(msg.payload & 2);\nalarms[2] = Boolean(msg.payload & 4);\nalarms[3] = Boolean(msg.payload & 8);\nalarms[4] = Boolean(msg.payload & 16);\nalarms[5] = Boolean(msg.payload & 32);\n\nconst topics = [];\ntopics[0] = \"actuator_error\";\ntopics[1] = \"zone_error\";\ntopics[2] = \"cu_communication_timeout_60min\";\ntopics[3] = \"overcurrent_protection_error\";\ntopics[4] = \"duplicate_network_id_error\";\ntopics[5] = \"data_logging_error\";\n\nvar mqttTopicPath = \"lk_floor_systems/Sections/Section_\" + (msg.parts.index + 1) + \"/Alarms/\";\nconst mqttMsgs = [];\n\nfor (var i = 0; i < 6; i++) {\n    const mqttMsg = {};\n    mqttMsg.payload = alarms[i];\n    mqttMsg.topic = mqttTopicPath + topics[i];\n    mqttMsgs.push(mqttMsg);\n\n    const mqttDiscoverConfig = {};\n    const discoverConfig = {};\n    const deviceConfig = {};\n    var uniqueId = \"CU\" + (msg.parts.index + 1) + \"Alarm-\" + topics[i];\n    var mqttDiscoverPath = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n    \n    discoverConfig.availability = [];\n    discoverConfig.device_class = \"problem\";\n    discoverConfig.name = \"Section \" + (msg.parts.index + 1) + \" \" + topics[i];\n    discoverConfig.payload_off = \"false\";\n    discoverConfig.payload_on = \"true\";\n    discoverConfig.state_topic = mqttMsg.topic;\n    discoverConfig.unique_id = uniqueId;\n\n    deviceConfig.manufacturer = \"LK Systems\"\n    deviceConfig.model = \"ICS.2\";\n    deviceConfig.identifiers = [deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + (msg.parts.index + 1)];\n    deviceConfig.name = deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + (msg.parts.index + 1);\n    deviceConfig.sw_version = String(msg.cu_software_version[msg.parts.index] / 100);\n    discoverConfig.device = deviceConfig;\n\n    var sectionTable = flow.get(\"section_definition_table\");\n\n    if (Array.isArray(sectionTable) && sectionTable.length == 8) {\n        const discoverAvailability = {};\n        discoverAvailability.payload_available = \"true\";\n        discoverAvailability.payload_not_available = \"false\";\n        discoverAvailability.topic = \"lk_floor_systems/Sections/Section_\" + (msg.parts.index + 1) + \"/isDefined\";\n        discoverConfig.availability.push( discoverAvailability );\n\n        mqttDiscoverConfig.payload = JSON.stringify(discoverConfig);\n        mqttDiscoverConfig.topic = mqttDiscoverPath;\n\n        // Only publish sections that are defined in the system\n        if (sectionTable[msg.parts.index]) {\n            //mqttDiscoverConfig.payload = \"\";\n            mqttMsgs.push(mqttDiscoverConfig);\n        }else{\n            // If a section has been removed, remove it from HA as well\n            mqttDiscoverConfig.payload = \"\";\n            mqttMsgs.push(mqttDiscoverConfig);\n        }\n    }else{\n        node.warn(\"Section definition table not populated: \" + JSON.stringify(sectionTable));\n        throw \"Will not publish discover configuration to MQTT since the section definition table has not been populated yet.\";\n    }\n}\n\n\nreturn [mqttMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3480,"y":580,"wires":[["afa24f77e51748e8"]]},{"id":"b35deb3cc1f2516d","type":"link call","z":"a0d4e6145d46e354","name":"","links":["1735b3ce592c9d36"],"linkType":"static","timeout":"30","x":3030,"y":960,"wires":[["f7b035dc00cbe395","8e58532d86ba559d","0474a205d52bcc60"]]},{"id":"0474a205d52bcc60","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":"8","arraySpltType":"len","stream":false,"addname":"","x":3270,"y":960,"wires":[["3cec22e56808b2f3"]]},{"id":"3cec22e56808b2f3","type":"function","z":"a0d4e6145d46e354","name":"Section definition table -> MQTT","func":"// checks whether an element is boolean true\nconst containsTrue = (element) => element === true;\n\n\n\nvar mqttTopicPath = \"lk_floor_systems/Sections/Section_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload.some(containsTrue);\nmqttMsg.topic = mqttTopicPath + \"isDefined\";\n\nif (!Array.isArray(flow.get(\"section_definition_table\"))) {\n    flow.set(\"section_definition_table\", []);\n}\nvar sectionsTable = flow.get(\"section_definition_table\");\nsectionsTable[msg.parts.index] = mqttMsg.payload;\nflow.set(\"section_definition_table\", sectionsTable);\n\nreturn mqttMsg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nif (! Array.isArray(flow.get(\"section_definition_table\"))) {\n    flow.set(\"section_definition_table\", []);\n}","finalize":"","libs":[],"x":3510,"y":960,"wires":[["afa24f77e51748e8"]]},{"id":"7641cea81b8252f9","type":"link call","z":"a0d4e6145d46e354","name":"","links":["906c0163bca3a3af"],"linkType":"static","timeout":"30","x":3040,"y":1620,"wires":[["0f51ab9b7bda89e8"]]},{"id":"0f51ab9b7bda89e8","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1620,"wires":[["f9eaa2a677f519d3"]]},{"id":"f9eaa2a677f519d3","type":"function","z":"a0d4e6145d46e354","name":"CU Software version -> MQTT","func":"\nvar mqttTopicPath = \"lk_floor_systems/Sections/Section_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = String(msg.payload / 100);\nmqttMsg.topic = mqttTopicPath + \"software_version\";\n\nreturn mqttMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3510,"y":1620,"wires":[["afa24f77e51748e8"]]},{"id":"fd39bf931346cad9","type":"link call","z":"a0d4e6145d46e354","name":"","links":["26609fe9fd4aba59"],"linkType":"static","timeout":"30","x":3030,"y":1680,"wires":[["54827913945d385f"]]},{"id":"54827913945d385f","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":"8","arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1680,"wires":[["f479376ca1ef895a"]]},{"id":"f479376ca1ef895a","type":"function","z":"a0d4e6145d46e354","name":"Actuator mappings -> MQTT","func":"/*\n\nactuator is given by msg.parts.index + 1\nsection is given by payload key + 1\nzone is given by payload value\n*/\n\nconst mqttMsgs = [];\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    var mqttTopicPath = \"lk_floor_systems/Sections/Section_\" + (i + 1) + \"/Actuators/Actuator_\" + (msg.parts.index + 1) + \"/used_by_zone\";\n    const mqttMsg = {};\n\n    if (msg.payload[i] == 0 ) {\n        mqttMsg.payload = 0;\n    }else{\n        mqttMsg.payload = msg.payload[i] + (i * 8);\n    }\n    \n    mqttMsg.topic = mqttTopicPath;\n    mqttMsgs.push(mqttMsg);\n\n    //mqttTopicPath = \"lk_floor_systems/Zones/Zone \" + (msg.payload[i]) + \"/\";\n}\n\n\nreturn [mqttMsgs];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3500,"y":1680,"wires":[["afa24f77e51748e8"]]},{"id":"db763a026b4d69f1","type":"link call","z":"a0d4e6145d46e354","name":"","links":["bac6a9725ceae0ad"],"linkType":"static","timeout":"30","x":3030,"y":700,"wires":[["645dd82cc3fe57bd"]]},{"id":"645dd82cc3fe57bd","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":700,"wires":[["c63a5c79c7bc5952"]]},{"id":"c63a5c79c7bc5952","type":"function","z":"a0d4e6145d46e354","name":"Actuator alarms -> MQTT","func":"/*\n2 bits per actuator, bits 0-1: actuator 0 alarm;bits 14-15: actuator 7 alarm; \nvalue 0 - no alarm; \n1 = actuator missing (error 11)\n2 = acutator short-circuited (error 9)\n3 = actuator overload (error 12)\n\n\nDebug Output, per section:\n[0,0,0,0,0,0,0,0]\n*/\n\n/*\n\nsection is given by msg.parts.index\nactuator is given by payload:\n  2 bits per actuator, bits 0-1 is actuator 0, bits 14-15 is actuator 7\nvalue 0 - no alarm; \n1 = actuator missing (error 11)\n2 = acutator short-circuited (error 9)\n3 = actuator overload (error 12)\n\n*/\n\nconst section = msg.parts.index + 1;\n\nvar mqttTopicPath = \"lk_floor_systems/Sections/Section_\" + section + \"/Actuators/\";\nconst mqttMsgs = [];\nvar alarms = msg.payload;\n\nvar sectionTable = flow.get(\"section_definition_table\");\n\nfor (var i = 0; i < 8; i++) {\n\n  var ac_missing = (alarms & 1) == 1;\n  var ac_shorted = (alarms & 2) == 2;\n  var ac_overload = (alarms & 3) == 3;\n\n  const mqttMsg1 = {};\n  mqttMsg1.payload = ac_missing;\n  mqttMsg1.topic = mqttTopicPath + \"Actuator_\" + (i + 1) + \"/Alarms/actuator_missing\"\n  mqttMsgs.push(mqttMsg1);\n\n  const mqttMsg2 = {};\n  mqttMsg2.payload = ac_shorted;\n  mqttMsg2.topic = mqttTopicPath + \"Actuator_\" + (i + 1) + \"/Alarms/actuator_shorted\"\n  mqttMsgs.push(mqttMsg2);\n\n  const mqttMsg3 = {};\n  mqttMsg3.payload = ac_overload;\n  mqttMsg3.topic = mqttTopicPath + \"Actuator_\" + (i + 1) + \"/Alarms/actuator_overloaded\"\n  mqttMsgs.push(mqttMsg3);\n\n  // Add auto discovery of device and entity\n  var uniqueId = \"\"; //\"CU\" + (msg.parts.index + 1) + \"Actuator-\" + (i + 1);\n  const mqttDiscoverConfig1 = {};\n  const mqttDiscoverConfig2 = {};\n  const mqttDiscoverConfig3 = {};\n  const discoverConfig = {};\n  const deviceConfig = {};\n  var mqttDiscoverPath = \"\"; //\"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n\n  discoverConfig.availability = [];\n  discoverConfig.device_class = \"problem\";\n  discoverConfig.payload_off = \"false\";\n  discoverConfig.payload_on = \"true\";\n  discoverConfig.unique_id = uniqueId;\n\n  deviceConfig.manufacturer = \"LK Systems\"\n  deviceConfig.model = \"ICS.2\";\n  deviceConfig.identifiers = [deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + (msg.parts.index + 1) + \" Actuator \" + (i + 1)];\n  deviceConfig.name = deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + (msg.parts.index + 1) + \" Actuator \" + (i + 1);\n  deviceConfig.via_device = deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + (msg.parts.index + 1);\n  discoverConfig.device = deviceConfig;\n\n  if (Array.isArray(sectionTable) && sectionTable.length == 8) {\n    const discoverAvailability = {};\n    discoverAvailability.payload_available = \"true\";\n    discoverAvailability.payload_not_available = \"false\";\n    discoverAvailability.topic = \"lk_floor_systems/Sections/Section_\" + (msg.parts.index + 1) + \"/isDefined\";\n    discoverConfig.availability.push(discoverAvailability);\n\n    uniqueId = \"CU\" + (msg.parts.index + 1) + \"Actuator-\" + (i + 1) + \"actuator_missing\";\n    mqttDiscoverPath = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n    discoverConfig.name = \"Section \" + (msg.parts.index + 1) + \" Actuator \" + (i + 1) + \" Actuator missing\";\n    discoverConfig.state_topic = mqttMsg1.topic;\n    discoverConfig.unique_id = uniqueId;\n    mqttDiscoverConfig1.payload = JSON.stringify(discoverConfig);\n    mqttDiscoverConfig1.topic = mqttDiscoverPath;\n\n    uniqueId = \"CU\" + (msg.parts.index + 1) + \"Actuator-\" + (i + 1) + \"actuator_shorted\";\n    mqttDiscoverPath = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n    discoverConfig.name = \"Section \" + (msg.parts.index + 1) + \" Actuator \" + (i + 1) + \" Actuator shorted\";\n    discoverConfig.state_topic = mqttMsg2.topic;\n    discoverConfig.unique_id = uniqueId;\n    mqttDiscoverConfig2.payload = JSON.stringify(discoverConfig);\n    mqttDiscoverConfig2.topic = mqttDiscoverPath;\n\n    uniqueId = \"CU\" + (msg.parts.index + 1) + \"Actuator-\" + (i + 1) + \"actuator_overloaded\";\n    mqttDiscoverPath = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n    discoverConfig.name = \"Section \" + (msg.parts.index + 1) + \" Actuator \" + (i + 1) + \" Actuator overloaded\";\n    discoverConfig.state_topic = mqttMsg3.topic;\n    discoverConfig.unique_id = uniqueId;\n    mqttDiscoverConfig3.payload = JSON.stringify(discoverConfig);\n    mqttDiscoverConfig3.topic = mqttDiscoverPath;\n\n    // Only publish sections that are defined in the system\n    if (sectionTable[msg.parts.index]) {\n      //mqttDiscoverConfig.payload = \"\";\n      mqttMsgs.push(mqttDiscoverConfig1);\n      mqttMsgs.push(mqttDiscoverConfig2);\n      mqttMsgs.push(mqttDiscoverConfig3);\n    } else {\n      // If a section has been removed, remove it from HA as well\n      mqttDiscoverConfig1.payload = \"\";\n      mqttDiscoverConfig2.payload = \"\";\n      mqttDiscoverConfig3.payload = \"\";\n      mqttMsgs.push(mqttDiscoverConfig1);\n      mqttMsgs.push(mqttDiscoverConfig2);\n      mqttMsgs.push(mqttDiscoverConfig3);\n    }\n  } else {\n    node.warn(\"Section definition table not populated: \" + JSON.stringify(sectionTable));\n    throw \"Will not publish discover configuration to MQTT since the section definition table has not been populated yet.\";\n  }\n\n  // Shift 2 bits to the right to check the next actuator alarms value\n  alarms >>= 2;\n}\n\n\nreturn [mqttMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490,"y":700,"wires":[["afa24f77e51748e8"]]},{"id":"16d4dc1985c73f4a","type":"function","z":"a0d4e6145d46e354","name":"Zone definition table -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload;\nmqttMsg.topic = mqttTopicPath + \"isDefined\";\nmqttMsg.retain = true;\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3510,"y":920,"wires":[["afa24f77e51748e8"]]},{"id":"f7b035dc00cbe395","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":920,"wires":[["16d4dc1985c73f4a"]]},{"id":"ac6dc80d99dfe88f","type":"link call","z":"a0d4e6145d46e354","name":"","links":["c75d0545151941c3"],"linkType":"static","timeout":"30","x":3020,"y":760,"wires":[["55c8c8daab56b0bd"]]},{"id":"55c8c8daab56b0bd","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":760,"wires":[["2a8b901063b2fc7f"]]},{"id":"2a8b901063b2fc7f","type":"function","z":"a0d4e6145d46e354","name":"RU link quality -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload;\nmqttMsg.topic = mqttTopicPath + \"link_quality\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490,"y":760,"wires":[["afa24f77e51748e8"]]},{"id":"bcd24c30f9aecf08","type":"link call","z":"a0d4e6145d46e354","name":"","links":["743cf90bb35a07a9"],"linkType":"static","timeout":"30","x":3050,"y":820,"wires":[["ad1bc955ee7bee4e"]]},{"id":"ad1bc955ee7bee4e","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":820,"wires":[["87b99ffb1dd50f51"]]},{"id":"87b99ffb1dd50f51","type":"function","z":"a0d4e6145d46e354","name":"RU Regulation Output -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\nMin 0, Max 255, return as 0-100%\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = Math.round( (msg.payload / 255) * 100 );\nmqttMsg.topic = mqttTopicPath + \"regulation_output\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3510,"y":820,"wires":[["afa24f77e51748e8"]]},{"id":"ed4d3a687e824c23","type":"link call","z":"a0d4e6145d46e354","name":"","links":["e64619abfa0dbfe7"],"linkType":"static","timeout":"30","x":3040,"y":1740,"wires":[["354af2b0dd03a1bb"]]},{"id":"354af2b0dd03a1bb","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1740,"wires":[["49ebbbea4e87dab2"]]},{"id":"49ebbbea4e87dab2","type":"function","z":"a0d4e6145d46e354","name":"RU Software version -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = String(msg.payload / 100);\nmqttMsg.topic = mqttTopicPath + \"software_version\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3510,"y":1740,"wires":[["afa24f77e51748e8"]]},{"id":"583891d16e9fe5ac","type":"link call","z":"a0d4e6145d46e354","name":"","links":["4e28e57aa0a556fa"],"linkType":"static","timeout":"30","x":3010,"y":640,"wires":[["e4bada2fd5c1c619"]]},{"id":"e4bada2fd5c1c619","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":640,"wires":[["7ebf523c94cc6892"]]},{"id":"7ebf523c94cc6892","type":"function","z":"a0d4e6145d46e354","name":"Zone alarms -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\nbit 0 = Room sensor error (error 15)\nbit 1 = No Communication between RU-CU for 60 min (error 1)\nbit 2 = FloorSensor error (error 14)\nbit 3 = RUW cannot install (unused?)\nbit 4 = HW Error (error 13)\nbit 5 = battery low (error 16)\n\n*/\n\nconst alarms = [];\nalarms[0] = Boolean(msg.payload & 1);\nalarms[1] = Boolean(msg.payload & 2);\nalarms[2] = Boolean(msg.payload & 4);\nalarms[3] = Boolean(msg.payload & 8);\nalarms[4] = Boolean(msg.payload & 16);\nalarms[5] = Boolean(msg.payload & 32);\n\nconst topics = [];\ntopics[0] = \"room_sensor_error\";\ntopics[1] = \"communication_error\";\ntopics[2] = \"floor_sensor_error\";\ntopics[3] = \"ruw_install_error\";\ntopics[4] = \"hw_error\";\ntopics[5] = \"battery_low\";\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/Alarms/\";\nconst mqttMsgs = [];\n\nfor (var i = 0; i < 6; i++) {\n    const mqttMsg = {};\n    mqttMsg.payload = alarms[i];\n    mqttMsg.topic = mqttTopicPath + topics[i];\n    mqttMsg.retain = true;\n    mqttMsgs.push(mqttMsg);\n}\n\n\nreturn [mqttMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3480,"y":640,"wires":[["afa24f77e51748e8"]]},{"id":"8e58532d86ba559d","type":"change","z":"a0d4e6145d46e354","name":"Set flow.zone_definition_table","rules":[{"t":"set","p":"zone_definition_table","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":880,"wires":[[]]},{"id":"d10ac195221285a9","type":"link call","z":"a0d4e6145d46e354","name":"","links":["906c0163bca3a3af"],"linkType":"static","timeout":"30","x":2760,"y":580,"wires":[["75f11f071918982c"]]},{"id":"ba80618ec6de31f9","type":"link call","z":"a0d4e6145d46e354","name":"","links":["c8e47da0ca5eecb1"],"linkType":"static","timeout":"30","x":3010,"y":1020,"wires":[["71c14035adf388e5"]]},{"id":"8660cc5bc50de67a","type":"link call","z":"a0d4e6145d46e354","name":"","links":["13a9b82929a9b066"],"linkType":"static","timeout":"30","x":3000,"y":1080,"wires":[["0a02703d9a4fbde4"]]},{"id":"e63bba328f1f83ad","type":"link call","z":"a0d4e6145d46e354","name":"","links":["7a0e09f7beb457cb"],"linkType":"static","timeout":"30","x":3010,"y":1140,"wires":[["50209c3b284d485d"]]},{"id":"51a3088629fb13d0","type":"link call","z":"a0d4e6145d46e354","name":"","links":["f7c48a81de83b6e4"],"linkType":"static","timeout":"30","x":3030,"y":1200,"wires":[["c17b2c06b6e53fe6"]]},{"id":"16107c4d617000c1","type":"link call","z":"a0d4e6145d46e354","name":"","links":["31785b5f5c92c497"],"linkType":"static","timeout":"30","x":3030,"y":1260,"wires":[["59f327085f58722b"]]},{"id":"f6dc197c247eedda","type":"function","z":"a0d4e6145d46e354","name":"Room temp -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload / 100;\nmqttMsg.topic = mqttTopicPath + \"room_temp\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3480,"y":1020,"wires":[["afa24f77e51748e8"]]},{"id":"71c14035adf388e5","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1020,"wires":[["f6dc197c247eedda"]]},{"id":"0a02703d9a4fbde4","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1080,"wires":[["2cc5ebd3209d5f86"]]},{"id":"50209c3b284d485d","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1140,"wires":[["296bce5ab8eec259"]]},{"id":"c17b2c06b6e53fe6","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1200,"wires":[["c1633cc7809f585b"]]},{"id":"59f327085f58722b","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1260,"wires":[["fe0af101c988a01a"]]},{"id":"2cc5ebd3209d5f86","type":"function","z":"a0d4e6145d46e354","name":"Floor temp -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload / 100;\nmqttMsg.topic = mqttTopicPath + \"floor_temp\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3480,"y":1080,"wires":[["afa24f77e51748e8"]]},{"id":"296bce5ab8eec259","type":"function","z":"a0d4e6145d46e354","name":"Battery level -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload;\nmqttMsg.topic = mqttTopicPath + \"battery_level\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3480,"y":1140,"wires":[["afa24f77e51748e8"]]},{"id":"c1633cc7809f585b","type":"function","z":"a0d4e6145d46e354","name":"Room temp setpoint -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload / 100;\nmqttMsg.topic = mqttTopicPath + \"room_temp_setpoint\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3510,"y":1200,"wires":[["afa24f77e51748e8"]]},{"id":"fe0af101c988a01a","type":"function","z":"a0d4e6145d46e354","name":"Floor temp setpoint -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload / 100;\nmqttMsg.topic = mqttTopicPath + \"floor_temp_setpoint\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3500,"y":1260,"wires":[["afa24f77e51748e8"]]},{"id":"129baf5ed2bfa871","type":"link call","z":"a0d4e6145d46e354","name":"","links":["4c0f419b4223ae5c"],"linkType":"static","timeout":"30","x":3000,"y":1320,"wires":[["38510373658ae687"]]},{"id":"38510373658ae687","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1320,"wires":[["7ee7a0ec5e82da38"]]},{"id":"7ee7a0ec5e82da38","type":"function","z":"a0d4e6145d46e354","name":"RU heating on -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\nmqttMsg.payload = msg.payload;\nmqttMsg.topic = mqttTopicPath + \"heating_on\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490,"y":1320,"wires":[["afa24f77e51748e8"]]},{"id":"54c5ef14bab36c65","type":"link call","z":"a0d4e6145d46e354","name":"","links":["beef42caa74cb16e"],"linkType":"static","timeout":"30","x":3040,"y":1380,"wires":[["dec6641066c6aa90"]]},{"id":"dec6641066c6aa90","type":"split","z":"a0d4e6145d46e354","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":1380,"wires":[["0990bea6881fbb4d"]]},{"id":"0990bea6881fbb4d","type":"function","z":"a0d4e6145d46e354","name":"RU Week program setpoint -> MQTT","func":"/*\n\nzone is given by msg.parts.index + 1\npayload is given by payload\n\n0 - Comfort, 1 - Economy.\n\n*/\n\nvar mqttTopicPath = \"lk_floor_systems/Zones/Zone_\" + (msg.parts.index + 1) + \"/\";\n\nconst mqttMsg = {};\n\nif (msg.payload === false) {\n    mqttMsg.payload = \"\\\"comfort\\\"\";\n    mqttMsg.payload = 0;\n}else{\n    mqttMsg.payload = \"eco\";\n    mqttMsg.payload = 1;\n}\n\nmqttMsg.topic = mqttTopicPath + \"week_program_setpoint\";\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":1380,"wires":[["afa24f77e51748e8"]]},{"id":"b47f9a6b69dc1363","type":"function","z":"a0d4e6145d46e354","name":"Climate discover config","func":"\nconst zonesDefinitionTable = flow.get(\"zone_definition_table\");\n\nconst mqttMsgs = [];\n\nfor (const zoneIndex in zonesDefinitionTable) {\n\n    var zoneId = parseInt(zoneIndex) + 1;\n    var uniqueId = \"RU\" + zoneId + \"ClimateControlDebug\";\n    var configTopic = \"homeassistant/climate/\" + uniqueId + \"/config\";\n    var commandTopic = \"homeassistant/climate/\" + uniqueId + \"/set/room_temp_setpoint\";\n    var sectionId = Math.floor((parseInt(zoneIndex) + 1) / 8) + 1;\n    const mqttMsg = {};\n\n    // If zone is defined, continue\n    if (zonesDefinitionTable[zoneIndex] === true) {\n\n        const deviceConfig = {};\n        const climateConfig = {};\n        const availability = [];\n        \n        deviceConfig.manufacturer = \"LK Systems\"\n        deviceConfig.model = \"ICS.2\";\n        deviceConfig.identifiers = [deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + sectionId];\n        deviceConfig.name = deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + sectionId;\n        deviceConfig.sw_version = String(msg.cu_software_version[(sectionId - 1)] / 100);\n        \n        availability.push({ \"topic\": \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/isDefined\", \"value_template\": \"{{iif(value_json==true, 'online', 'offline', 'offline')}}\" });\n        //availability.push({ \"topic\": \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/room_sensor_error\", \"value_template\": \"{{iif(value=='true', 'offline', 'online', 'offline')}}\" });\n        //availability.push({ \"topic\": \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/communication_error\", \"value_template\": \"{{iif(value=='true', 'offline', 'online', 'offline')}}\" });\n        //availability.push({ \"topic\": \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/floor_sensor_error\", \"value_template\": \"{{iif(value=='true', 'offline', 'online', 'offline')}}\" });\n        //availability.push({ \"topic\": \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/ruw_install_error\", \"value_template\": \"{{iif(value=='true', 'offline', 'online', 'offline')}}\" });\n        //availability.push({ \"topic\": \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/hw_error\", \"value_template\": \"{{iif(value=='true', 'offline', 'online', 'offline')}}\" });\n\n\n        //climateConfig.action_topic = \"\";  // Not implemented in LK modbus\n        climateConfig.availability = availability;\n        climateConfig.availability_mode = \"all\";\n        climateConfig.current_temperature_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/room_temp\";\n        climateConfig.device = deviceConfig;\n        climateConfig.icon = \"mdi:home-thermometer-outline\";\n        //climateConfig.json_attributes_topic = \"\";\n        climateConfig.max_temp = 50.00;\n        climateConfig.min_temp = 7.00;\n        climateConfig.modes = [\"auto\", \"off\", \"heat\"];\n        climateConfig.mode_state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/heating_on\";\n        climateConfig.mode_state_template = \"{{iif(value_json, 'heat', 'off', 'auto')}}\";\n        climateConfig.name = \"Climate control zone \" + zoneId;\n        climateConfig.object_id = uniqueId;\n        climateConfig.precision = 0.1;\n        //climateConfig.preset_mode_state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/week_program_setpoint\";\n        //climateConfig.preset_mode_value_template = \"{{iif(value==1, 'eco', 'comfort', 'none')}}\";\n        //climateConfig.preset_modes = [\"eco\", \"comfort\"];\n        climateConfig.temperature_command_topic = commandTopic; //\"lk_floor_systems/Zones/Zone_\" + zoneId + \"/set/room_temp_setpoint\";\n        climateConfig.temperature_state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/room_temp_setpoint\";\n        climateConfig.temperature_unit = \"C\";\n        climateConfig.temp_step = 0.5;\n        climateConfig.unique_id = uniqueId;\n        \n        mqttMsg.payload = JSON.stringify(climateConfig);\n        mqttMsg.topic = configTopic;\n        mqttMsg.retain = true;\n\n        mqttMsgs.push(mqttMsg);\n\n    }else{\n\n        // If a section has been removed, remove it from HA as well\n        mqttMsg.payload = \"\";\n        mqttMsg.topic = configTopic;\n        mqttMsg.retain = false;\n\n        mqttMsgs.push(mqttMsg);\n    }\n}\nreturn [mqttMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490,"y":1560,"wires":[["afa24f77e51748e8"]]},{"id":"ac7bba5fcb6125eb","type":"link call","z":"a0d4e6145d46e354","name":"","links":["906c0163bca3a3af"],"linkType":"static","timeout":"30","x":3040,"y":1560,"wires":[["b47f9a6b69dc1363"]]},{"id":"21494c350aaf51ea","type":"inject","z":"a0d4e6145d46e354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2780,"y":1420,"wires":[["22b5f0f1c56c69f4"]]},{"id":"8e8de46ac90a3594","type":"function","z":"a0d4e6145d46e354","name":"Zone discovery config","func":"const mqttMsgs = [];\nconst zonesDefinitionTable = flow.get(\"zone_definition_table\");\n\nfor (const zoneIndex in zonesDefinitionTable) {\n\n    var zoneId = parseInt(zoneIndex) + 1;\n    var uniqueId = \"LK-ICS2-Zone\" + zoneId;\n    var sectionId = Math.floor(zoneId / 8) + 1;\n    //const mqttMsg = {};\n\n    const deviceConfig = {};\n    deviceConfig.manufacturer = \"LK Systems\"\n    deviceConfig.model = \"ICS.2\";\n    deviceConfig.identifiers = [deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Zone \" + zoneId];\n    deviceConfig.name = deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Zone \" + zoneId;\n    deviceConfig.sw_version = String(msg.ru_software_version[zoneIndex] / 100);\n    deviceConfig.via_device = deviceConfig.manufacturer + \" \" + deviceConfig.model + \" Section \" + sectionId;\n\n    // If zone is defined, continue\n    if (zonesDefinitionTable[zoneIndex] === true) {\n\n        \n        const entityConfig = {};\n        let entityTopic = \"\";\n\n        entityConfig.device = deviceConfig;\n        entityConfig.device_class = \"problem\";\n        entityConfig.payload_off = \"false\";\n        entityConfig.payload_on = \"true\";\n        //entityConfig.icon = \"mdi:home-thermometer-outline\";\n\n        // lk_floor_systems/Zones/Zone_1/Alarms/room_sensor_error\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-room_sensor_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Room Sensor Status\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\"+ zoneId +\"/Alarms/room_sensor_error\";\n        entityConfig.unique_id = uniqueId;\n\n        const alarm1Msg = {};\n        alarm1Msg.payload = JSON.stringify(entityConfig);\n        alarm1Msg.topic = entityTopic;\n        alarm1Msg.retain = true;\n        mqttMsgs.push(alarm1Msg);\n\n        // lk_floor_systems/Zones/Zone_1/Alarms/communication_error\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-communication_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Communication Status\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/communication_error\";\n        entityConfig.unique_id = uniqueId;\n\n        const alarm2Msg = {};\n        alarm2Msg.payload = JSON.stringify(entityConfig);\n        alarm2Msg.topic = entityTopic;\n        alarm2Msg.retain = true;\n        mqttMsgs.push(alarm2Msg);\n\n        // lk_floor_systems/Zones/Zone_1/Alarms/floor_sensor_error\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-floor_sensor_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Floor Sensor Status\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/floor_sensor_error\";\n        entityConfig.unique_id = uniqueId;\n\n        const alarm3Msg = {};\n        alarm3Msg.payload = JSON.stringify(entityConfig);\n        alarm3Msg.topic = entityTopic;\n        alarm3Msg.retain = true;\n        mqttMsgs.push(alarm3Msg);\n\n        // lk_floor_systems/Zones/Zone_1/Alarms/ruw_install_error\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-ruw_install_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Wired Room Unit Status\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/ruw_install_error\";\n        entityConfig.unique_id = uniqueId;\n\n        const alarm4Msg = {};\n        alarm4Msg.payload = JSON.stringify(entityConfig);\n        alarm4Msg.topic = entityTopic;\n        alarm4Msg.retain = true;\n        mqttMsgs.push(alarm4Msg);\n\n        // lk_floor_systems/Zones/Zone_1/Alarms/hw_error\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-hw_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Hardware Status\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/hw_error\";\n        entityConfig.unique_id = uniqueId;\n\n        const alarm5Msg = {};\n        alarm5Msg.payload = JSON.stringify(entityConfig);\n        alarm5Msg.topic = entityTopic;\n        alarm5Msg.retain = true;\n        mqttMsgs.push(alarm5Msg);\n\n        // lk_floor_systems/Zones/Zone_1/Alarms/battery_low\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-battery_low\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Battery Low\";\n        entityConfig.device_class = \"battery\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/Alarms/battery_low\";\n        entityConfig.unique_id = uniqueId;\n\n        const alarm6Msg = {};\n        alarm6Msg.payload = JSON.stringify(entityConfig);\n        alarm6Msg.topic = entityTopic;\n        alarm6Msg.retain = true;\n        mqttMsgs.push(alarm6Msg);\n\n        // lk_floor_systems/Zones/Zone_1/link_quality\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-link_quality\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Link Quality\";\n        delete entityConfig.device_class;\n        //entityConfig.icon = \"mdi:wifi\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/link_quality\";\n        entityConfig.unique_id = uniqueId;\n        entityConfig.unit_of_measurement = \"%\";\n\n        const sensor1Msg = {};\n        sensor1Msg.payload = JSON.stringify(entityConfig);\n        sensor1Msg.topic = entityTopic;\n        sensor1Msg.retain = true;\n        mqttMsgs.push(sensor1Msg);\n\n        // lk_floor_systems/Zones/Zone_1/regulation_output\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-regulation_output\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Regulation Output\";\n        delete entityConfig.device_class;\n        //entityConfig.icon = \"mdi:home-thermometer-outline\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/regulation_output\";\n        entityConfig.unique_id = uniqueId;\n        entityConfig.unit_of_measurement = \"%\";\n\n        const sensor2Msg = {};\n        sensor2Msg.payload = JSON.stringify(entityConfig);\n        sensor2Msg.topic = entityTopic;\n        sensor2Msg.retain = true;\n        mqttMsgs.push(sensor2Msg);\n\n        // lk_floor_systems/Zones/Zone_1/room_temp\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-room_temp\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Temperature\";\n        entityConfig.device_class = \"temperature\";\n        //entityConfig.icon = \"\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/room_temp\";\n        entityConfig.unique_id = uniqueId;\n        entityConfig.unit_of_measurement = \"째C\";\n\n        const sensor3Msg = {};\n        sensor3Msg.payload = JSON.stringify(entityConfig);\n        sensor3Msg.topic = entityTopic;\n        sensor3Msg.retain = true;\n        mqttMsgs.push(sensor3Msg);\n\n        // lk_floor_systems/Zones/Zone_1/floor_temp\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-floor_temp\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Floor Temperature\";\n        entityConfig.device_class = \"temperature\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/floor_temp\";\n        entityConfig.unique_id = uniqueId;\n        entityConfig.unit_of_measurement = \"째C\";\n\n        const sensor4Msg = {};\n        sensor4Msg.payload = JSON.stringify(entityConfig);\n        sensor4Msg.topic = entityTopic;\n        sensor4Msg.retain = true;\n        mqttMsgs.push(sensor4Msg);\n\n        // lk_floor_systems/Zones/Zone_1/room_temp_setpoint\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-room_temp_setpoint\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Target Temperature\";\n        entityConfig.device_class = \"temperature\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/room_temp_setpoint\";\n        entityConfig.unique_id = uniqueId;\n        entityConfig.unit_of_measurement = \"째C\";\n\n        const sensor5Msg = {};\n        sensor5Msg.payload = JSON.stringify(entityConfig);\n        sensor5Msg.topic = entityTopic;\n        sensor5Msg.retain = true;\n        mqttMsgs.push(sensor5Msg);\n\n        // lk_floor_systems/Zones/Zone_1/floor_temp_setpoint\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-floor_temp_setpoint\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Floor Target Temperature\";\n        entityConfig.device_class = \"temperature\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/floor_temp_setpoint\";\n        entityConfig.unique_id = uniqueId;\n        entityConfig.unit_of_measurement = \"째C\";\n\n        const sensor6Msg = {};\n        sensor6Msg.payload = JSON.stringify(entityConfig);\n        sensor6Msg.topic = entityTopic;\n        sensor6Msg.retain = true;\n        mqttMsgs.push(sensor6Msg);\n\n        // lk_floor_systems/Zones/Zone_1/battery_level\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-battery_level\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Battery Level\";\n        entityConfig.device_class = \"battery\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/battery_level\";\n        entityConfig.unique_id = uniqueId;\n        entityConfig.unit_of_measurement = \"%\";\n\n        const sensor7Msg = {};\n        sensor7Msg.payload = JSON.stringify(entityConfig);\n        sensor7Msg.topic = entityTopic;\n        sensor7Msg.retain = true;\n        mqttMsgs.push(sensor7Msg);\n\n        // lk_floor_systems/Zones/Zone_1/heating_on bool\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-heating_on\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Heating\";\n        entityConfig.device_class = \"heat\";\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/heating_on\";\n        entityConfig.unique_id = uniqueId;\n        delete entityConfig.unit_of_measurement;\n\n        const sensor8Msg = {};\n        sensor8Msg.payload = JSON.stringify(entityConfig);\n        sensor8Msg.topic = entityTopic;\n        sensor8Msg.retain = true;\n        mqttMsgs.push(sensor8Msg);\n\n        // lk_floor_systems/Zones/Zone_1/week_program_setpoint 0 = Comfort, 1 = Eco\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-week_program_setpoint\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        entityConfig.name = \"Zone \" + zoneId + \" Preset Mode\";\n        delete entityConfig.device_class;\n        entityConfig.state_topic = \"lk_floor_systems/Zones/Zone_\" + zoneId + \"/week_program_setpoint\";\n        entityConfig.unique_id = uniqueId;\n        delete entityConfig.unit_of_measurement;\n        entityConfig.value_template = \"{{iif(value_json == 0, 'Comfort', 'Eco', 'Comfort')}}\";\n\n        const sensor9Msg = {};\n        sensor9Msg.payload = JSON.stringify(entityConfig);\n        sensor9Msg.topic = entityTopic;\n        sensor9Msg.retain = true;\n        mqttMsgs.push(sensor9Msg);\n\n    } else {\n/*\n        // If a section has been removed, remove it from HA as well\n        mqttMsg.payload = \"\";\n        mqttMsg.retain = false;\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-room_sensor_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-communication_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-floor_sensor_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-ruw_install_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-hw_error\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"Err-battery_low\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-link_quality\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-regulation_output\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-room_temp\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-floor_temp\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-room_temp_setpoint\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-floor_temp_setpoint\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-battery_level\";\n        entityTopic = \"homeassistant/sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n\n        uniqueId = \"LK-ICS2-Zone\" + zoneId + \"-heating_on\";\n        entityTopic = \"homeassistant/binary_sensor/\" + uniqueId + \"/config\";\n        mqttMsg.topic = entityTopic;\n        mqttMsgs.push(mqttMsg);\n*/\n    }\n\n}\n\nnode.warn(\"msg count: \" + mqttMsgs.length);\n\nreturn [mqttMsgs];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3480,"y":1500,"wires":[["afa24f77e51748e8"]]},{"id":"22b5f0f1c56c69f4","type":"link call","z":"a0d4e6145d46e354","name":"","links":["e64619abfa0dbfe7"],"linkType":"static","timeout":"30","x":3040,"y":1500,"wires":[["8e8de46ac90a3594"]]},{"id":"1e8434106470da8e","type":"inject","z":"a0d4e6145d46e354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2820,"y":1600,"wires":[["ac7bba5fcb6125eb"]]},{"id":"eeeb2c6fa0029e90","type":"link out","z":"a0d4e6145d46e354","name":"Notify on error","mode":"link","links":[],"x":1535,"y":1620,"wires":[]},{"id":"ae9c024e195291ae","type":"link in","z":"a0d4e6145d46e354","name":"Notify on error","links":[],"x":225,"y":360,"wires":[["af14b4d10963a78b"]]},{"id":"af14b4d10963a78b","type":"api-call-service","z":"a0d4e6145d46e354","name":"","server":"113cc0e9.5a1aaf","version":5,"debugenabled":false,"domain":"notify","service":"anders_telefon","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\": msg.message, \"title\": msg.title, \"data\": msg.data}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":360,"wires":[[]]},{"id":"26abe03edd3b93f7","type":"comment","z":"a0d4e6145d46e354","name":"Configure these nodes according to your needs","info":"","x":360,"y":100,"wires":[]},{"id":"598ef4ec1e8466ec","type":"comment","z":"a0d4e6145d46e354","name":"Called on error","info":"msg.title = Title of the message\nmsg.message = Message body","x":280,"y":300,"wires":[]},{"id":"cf05061e31abc1c1","type":"comment","z":"a0d4e6145d46e354","name":"System name","info":"The system name is used since we can not get an unique system\nidentifier via modbus from the LK systems. Thus, if you connect\nto multiple systems via modbus this field will enable you to\nget unique systems names in Home Assistant.\n\nIf you only connect to one system using modbus you can leave\nthis empty.\n\nCan only contain letters, numbers, hyphens and dash \n(A-Z, a-z, 0-9, - and _)","x":270,"y":160,"wires":[]},{"id":"2fa4f4fdfbfb5c25","type":"change","z":"a0d4e6145d46e354","name":"Set system name","rules":[{"t":"set","p":"system_name","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["2737c1e0cc7305fd"]]},{"id":"2e82668a76319468","type":"link in","z":"a0d4e6145d46e354","name":"Set system name","links":[],"x":225,"y":220,"wires":[["2fa4f4fdfbfb5c25"]]},{"id":"2737c1e0cc7305fd","type":"link out","z":"a0d4e6145d46e354","name":"link out 5","mode":"return","links":[],"x":515,"y":220,"wires":[]},{"id":"ed79feda7eef734f","type":"link in","z":"a0d4e6145d46e354","name":"Modbus write","links":["1698e70a45fbe22b"],"x":225,"y":760,"wires":[["3942c1508bdf3062"]]},{"id":"3287e22e25488e18","type":"comment","z":"a0d4e6145d46e354","name":"Modbus","info":"","x":250,"y":700,"wires":[]},{"id":"3942c1508bdf3062","type":"modbus-flex-write","z":"a0d4e6145d46e354","name":"","showStatusActivities":true,"showErrors":true,"server":"518e20dba657cdab","emptyMsgOnFail":false,"keepMsgProperties":true,"x":370,"y":760,"wires":[[],[]]},{"id":"1698e70a45fbe22b","type":"link out","z":"a0d4e6145d46e354","name":"link out 6","mode":"link","links":["ed79feda7eef734f"],"x":1135,"y":1020,"wires":[]},{"id":"690488589695209d","type":"link in","z":"a0d4e6145d46e354","name":"Modbus read","links":[],"x":225,"y":820,"wires":[["4fcf0115b195c2e0"]]},{"id":"4fcf0115b195c2e0","type":"modbus-flex-getter","z":"a0d4e6145d46e354","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"518e20dba657cdab","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":370,"y":820,"wires":[["2d76a573e2fde3ee"],[]]},{"id":"2d76a573e2fde3ee","type":"link out","z":"a0d4e6145d46e354","name":"link out 7","mode":"return","links":[],"x":535,"y":820,"wires":[]},{"id":"3db873a228b61fb1","type":"link call","z":"a0d4e6145d46e354","name":"Call modbus","links":["690488589695209d"],"linkType":"static","timeout":"30","x":1610,"y":3060,"wires":[["3c4e50f4a43e7616","2889276b5d727604"]]},{"id":"8bee6a7c7dcd6bec","type":"comment","z":"a0d4e6145d46e354","name":"MQTT","info":"","x":250,"y":900,"wires":[]},{"id":"7640b8b271461943","type":"link out","z":"a0d4e6145d46e354","name":"Write MQTT","mode":"link","links":["c132a34578e99c1b"],"x":4205,"y":1080,"wires":[]},{"id":"8c2655b116c0ff3b","type":"mqtt out","z":"a0d4e6145d46e354","name":"Write MQTT","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"893beac6.1f4838","x":350,"y":960,"wires":[]},{"id":"c132a34578e99c1b","type":"link in","z":"a0d4e6145d46e354","name":"Write MQTT in","links":["7640b8b271461943"],"x":225,"y":960,"wires":[["8c2655b116c0ff3b"]]},{"id":"a53bf1c65fe3ba39","type":"comment","z":"a0d4e6145d46e354","name":"Set timers","info":"","x":260,"y":420,"wires":[]},{"id":"ea0fe4cb11eb7c4b","type":"link out","z":"a0d4e6145d46e354","name":"Timer 1","mode":"link","links":["fd277c3fd8818608"],"x":735,"y":480,"wires":[]},{"id":"d196879e04d4d379","type":"inject","z":"a0d4e6145d46e354","name":"After 3s and every 2m","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":350,"y":480,"wires":[["e7ab12664a487883"]]},{"id":"fd277c3fd8818608","type":"link in","z":"a0d4e6145d46e354","name":"link in 1","links":["ea0fe4cb11eb7c4b"],"x":2455,"y":940,"wires":[["468a7dc045fe3bbe"]]},{"id":"6ef2d8eeee896d5c","type":"inject","z":"a0d4e6145d46e354","name":"After 2s and every 10s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":350,"y":520,"wires":[["f6e73f19e33d7362"]]},{"id":"51a0ee36919d35f3","type":"link out","z":"a0d4e6145d46e354","name":"Timer 2","mode":"link","links":["10c17e7bb95ba804"],"x":735,"y":520,"wires":[]},{"id":"10c17e7bb95ba804","type":"link in","z":"a0d4e6145d46e354","name":"link in 2","links":["51a0ee36919d35f3"],"x":2455,"y":1040,"wires":[["a23dd9cc34d13621"]]},{"id":"01e6fb92afa34a86","type":"inject","z":"a0d4e6145d46e354","name":"After 20s and every 10m","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":350,"y":560,"wires":[["4fe39ec8424c7428"]]},{"id":"bbb377eb3793ddca","type":"link out","z":"a0d4e6145d46e354","name":"Timer 3","mode":"link","links":["bf41c17d4db796c6"],"x":735,"y":560,"wires":[]},{"id":"bf41c17d4db796c6","type":"link in","z":"a0d4e6145d46e354","name":"link in 3","links":["bbb377eb3793ddca"],"x":2675,"y":1640,"wires":[["8ff55387a15bd453"]]},{"id":"8513bd5f36f8aa5d","type":"inject","z":"a0d4e6145d46e354","name":"After 5s and every 4h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":340,"y":600,"wires":[["d29a8162939dc4f1"]]},{"id":"69c235981493d71d","type":"link out","z":"a0d4e6145d46e354","name":"Create discovery config","mode":"link","links":["0f959049b88fb99a"],"x":735,"y":600,"wires":[]},{"id":"0f959049b88fb99a","type":"link in","z":"a0d4e6145d46e354","name":"link in 4","links":["69c235981493d71d"],"x":2675,"y":1520,"wires":[["22b5f0f1c56c69f4","ac7bba5fcb6125eb"]]},{"id":"e7ab12664a487883","type":"link call","z":"a0d4e6145d46e354","name":"","links":["2e82668a76319468"],"linkType":"static","timeout":"30","x":590,"y":480,"wires":[["ea0fe4cb11eb7c4b"]]},{"id":"f6e73f19e33d7362","type":"link call","z":"a0d4e6145d46e354","name":"","links":["2e82668a76319468"],"linkType":"static","timeout":"30","x":590,"y":520,"wires":[["51a0ee36919d35f3"]]},{"id":"4fe39ec8424c7428","type":"link call","z":"a0d4e6145d46e354","name":"","links":["2e82668a76319468"],"linkType":"static","timeout":"30","x":590,"y":560,"wires":[["bbb377eb3793ddca"]]},{"id":"d29a8162939dc4f1","type":"link call","z":"a0d4e6145d46e354","name":"","links":["2e82668a76319468"],"linkType":"static","timeout":"30","x":590,"y":600,"wires":[["69c235981493d71d"]]},{"id":"893beac6.1f4838","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"113cc0e9.5a1aaf","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"518e20dba657cdab","type":"modbus-client","name":"ModbusTCP38400","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"localhost","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]